<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :instagramID %>
    <%= form.text_field :instagramID, id: :artist_instagramID %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :artist_location %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :artist_website %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :artist_bio %>
  </div>

  <div class="field">
    <%= form.label :profilePicture %>
    <%= form.text_field :profilePicture, id: :artist_profilePicture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
