<p id="notice"><%= notice %></p>

<p>
  <strong>Contributor:</strong>
  <%= @art.contributor %>
</p>

<p>
  <strong>Coverage:</strong>
  <%= @art.coverage %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @art.creator %>
</p>

<p>
  <strong>Date:</strong>
  <%= @art.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Format:</strong>
  <%= @art.format %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @art.identifier %>
</p>

<p>
  <strong>Related:</strong>
  <%= @art.related %>
</p>

<p>
  <strong>Rights:</strong>
  <%= @art.rights %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @art.subject %>
</p>

<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @art.type %>
</p>

<p>
  <strong>Image:</strong>
  <%= @art.image %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
